body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #3BF2DC;
    flex: 4 1 auto;
}

h2 {
    font-size: 200%;
}

a {
    color: blue;
    text-decoration: none;
}
/*header styling*/

.header {
    flex-flow: row wrap;
    flex: 2 1 auto;
    height: 275px;
    display: flex;
    max-width: 100%;
    background-color: #4CBFCF;
    border: solid black 5px;
  

}

.header h1 {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 250%;
    max-width: 50%;
    max-height: 200px;
}

.header img {
    justify-content: left;
    margin: 10px;
    border: solid #C86E1A 10px;
    max-width: 17%;
    max-height: 250px;
}

.header nav {
    display: flex;
    flex: 2 1 auto;
    flex-flow: column wrap;
    max-width: 100%;
    align-items: end;
    justify-content: end;
    
}

.header nav ul {
    margin: 20px;
}

.header nav ul li {
    display: inline-block;
    color: black;
    margin: 5px;
    font-size: 18px;

}

.header nav ul li a:hover {
    color: white;
}
/*About Me styling*/
.about {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    border: solid blue 5px;
    justify-content: space-around;
    background-color: #33d6ff;
    
}

.about img {
    border: solid black 5px;
    margin: 10px;
    max-width: 40%;
}

.about div {
    border: solid green 5px;
    margin: 10px;
    max-width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

.about div h2 {
    display:flexbox;
    max-height: 50px;
    text-align: center;
    border: solid black 5px;
    margin: 10px;
}

.about div p {
    display: flex;
    border: solid black 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}



/*Work styling*/
.work {
    border: solid blue 5px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    
}
/*Header of work section*/
.work #text {
    border: solid green 5px;
    margin: 10px;
    width: auto;
    display: flexbox;
    background-color: #33d6ff;
}
.work h2 {
    border: solid black 5px;
    margin: 10px;
    text-align: center;

}

.work ul {
    border: solid black 5px;
    margin: 10px;
    text-align: center;
    align-content: space-between;
    
}

.work ul li {
    display: inline-block;
    border: solid red;
    margin: 0 10px
}
/*Examples portion of work section*/
.work #examples {
    display: flex;
    border: solid green 5px;
    margin: 10px;
    width: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #33d6ff;
}
/*prework-study-guide*/
.work #prework-study-guide {
    width: 100%;
    height: auto;
    border: solid black 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.work #prework-study-guide img {
    width: 100%;
    height: auto;
    border: solid #3BF2DC 5px;
    display: block;
    
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.container:hover .overlaypw {
    opacity: 1;
}

.overlaypw {
    position: absolute;
    top: 12%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.work #e2 {
    width: 45%;
    border: solid black 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

/*general image overlay*/
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 50%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.work #e3 {
    width: 45%;
    border: solid black 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}


.work #e4 {
    width: 45%;
    border: solid black 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}


.work #e5 {
    width: 45%;
    border: solid black 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}


/*Contact Me styling*/
.contact {
    border: solid blue 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: #33d6ff;
}

.contact h2 {
    border: solid black 5px;
    margin: 10px;
    text-align: center;
}

.contact ul {
    border: solid black 5px;
    margin: auto;
    
}

.contact li {
    border: solid red 2px;
    margin: 20px;
    display: inline;
}

.contact a:hover {
    color: white;
}
 
/*mobile display*/
@media screen and (max-width: 580px) {
    body {
        margin: none;
        justify-content: center;
        align-items: center;
    }
    .header {
        flex-flow: column;
        align-items: center;
        display: flex;
        width: 100%;
        height: fit-content;
        margin: none;
    }
    main {
        margin: none;
    }
    .header img {
        border: none;
    }
    .header h1 {
        text-align: center;
    }
    .header ul {
        align-items: space-around;
        width: 100%;
    }
    .about {
        flex-flow: column wrap;
        align-items: center;
        display: flex;
       
        height: fit-content;
    }
    .about img {
        width: 100%;
        display: flexbox;
        height: auto;
    }
    .about div {
        width: 100%;
        height: auto;
    }
    .examples {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: space-evenly;
    }
    figure {
        flex: 0 0 100%;
        width: 100%;
    }
    .contact {
        flex-flow: column;
        align-items: center;
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .contact nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    .contact li {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
} 
    
